.layout {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    &--center {
        align-content: center;
        align-items: center;
        height: 50vh;
        justify-content: center;
        width: 100%;
    }
}

.empty {
    flex-basis: 100%;
    max-width: $maxSiteWidth;

    &__heading {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
    }

    p {
        flex-basis: 100%;
        margin: 0;
        text-align: center;
    }

    .cta {
        margin-top: .5rem;
    }
}