$backgroundColor: #fffffe;
$foregroundColor: #0f4b8f;
$primaryColor: #f15f43;
$secondaryColor: #15A3E3;

$standardFont: "source-serif-pro" , "serif", "Segoe UI", Georgia, Cambria, Arial;
$headingFont: "source-serif-pro" , "serif", "didot", "Lucida Bright", "Segoe";

$standardFontSize: 1rem;

$mobileHeadingFontSize: 1.2rem;
$tabletHeadingFontSize: 2rem;

$tabletBreakpoint: 768px;
$desktopBreakpoint: 1000px;

$maxSiteWidth: 800px;

$siteBorderRadius: .5rem;

